html {
    background-color: #e6dcd4;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

section {
    background-color: #e6dcd4;
    margin-bottom: 0;
}

/*
    color: #dfdbc4; */

h1 {
    background-color: #1E1E24;
    font-family: 'Manuale', serif;
    font-weight: 400;
    font-size: 68px;
    color: #e6dcd4;

}

header {
    ;
    background-color: #1E1E24;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 0 0;

}

h4 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 30px;
    font-weight: 400;
}

ul {
    padding-left: 250px;
    padding-right: 250px;
    max-width: 1200px;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    list-style-position: inside;
    text-align: left;
}

strong {
    font-size: 32px;
    font-weight: 500;
    text-transform: Capitalize;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
}